#page_view {
    /* Fixes ad stretching the page on mobile desktop mode */
    overflow: hidden;
}
body, input, select {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    text-align: left;
}
#bottom_left {
    width: 100px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    bottom: 0;
    background-color: #35363a;
    border-top: 1px solid #2b2c2f;
    z-index: 99;
    color: #333;
}
.bottom_left_button {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
.play_mode #bottom_left {
  display: none;
}
#record_button {
    background-image: url(/resources/record_off.png);
}
#record_button.selected {
    background-image:url(/resources/record_on.png);
}
#record_button_tooltip {
    left: 24px;
}
#quantize_button {
    background-image:url(/resources/quantize.png);
    filter: brightness(70%);
}
#quantize_button:hover {
    filter: none;
}
#quantize_button.selected {
    filter: none;
}
#quantize_button_tooltip {
    left: 52px;
}
#metronome_button {
    background-image:url(/resources/metronome.png);
    filter: brightness(70%);
}
#metronome_button:hover {
    filter: none;
}
#metronome_button.selected {
    filter: none;
}
#metronome_button_tooltip {
    left: 100px;
    width: 180px;
}
#key_filter_button {
    background-image:url(/resources/key_filter.png);
    filter: brightness(70%);
}
#key_filter_button:hover {
    filter: none;
}
#key_filter_button.selected {
    filter: none;
}
#key_filter_button_tooltip {
    left: 76px;
    width: 120px;
}
.tooltip {
    width: 90px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    position: absolute;
    bottom: 16px;
    padding: 10px;
    display: none;
}

.key, .key_sharp{
    font-size: 11px;
    width: 96px;
    text-align: right;
    background-color: white;
    background: linear-gradient(to right, #cfcecf, #faf9f9);
    color: black;
    padding-right: 4px;
    z-index: 5;
    cursor: pointer;
}
.key_sharp {
    color: white;
    background-color: black;
    background: linear-gradient(to right, #303030, #030403);
}


.key:hover {
    background-color: #eaeaea;
    background: linear-gradient(to right, #adacac, #d8d8d7);
}
.key:active {
    background-color: #eee;
}
.key_sharp:hover {
    background-color: #1b1b1b;
    background: linear-gradient(to right, #535353, #040504);
}

.key div, .key_sharp div {
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}
.key_text {
    opacity: 1 !important;
    z-index: 0 !important;
    width: 95px !important;
}
body a {
    color: #A0C5FA;
}
#keyboard_wrapper_element {
    width: 100px;
    overflow: hidden;
    position: relative;
}
#keyboard_element{
    width: 100px;
    position: absolute;
    top: -40px;
    overflow: hidden;
}
#sequencer_main_row {
    display: flex;
    flex: 1;
    overflow: hidden;
}
#sequencer {
    background-color: #35363a;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#top-bar-container {
    border-bottom: 1px solid #2b2c2f;
    display: flex;    
}
#top-bar-right {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
#titlebar {
    color: white;
    display: flex;
    flex: 1;
    font-size: 18px;
    height: 24px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    padding: 5px;
    overflow: hidden;
}
#titlebar .left {
    flex: 1;
    display: flex;
    overflow: hidden;
}
#titlebar .play {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #D38B0D;
    vertical-align: top;
    border-radius: 4px;
    margin-right: 10px;
}
#titlebar .text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview_mode_btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #adb0bd;
}
.preview_mode_btn.btn_zoomin, .preview_mode_btn.btn_zoomout {
    margin-left: 0px;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.preview_mode_btn.btn_zoomin {
    margin-left: 5px;
}
.btn_comment {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: inline-flex;
    margin-left: 5px;
    color: #adb0bd;
}

.info-sidebar {
    color: white;
    width: 100%;
}

.info-sidebar-section {
    background-color: #35363a;
    padding: 10px;
    margin-bottom: 5px;    
}

.info-sidebar-title {
    font-size: 24px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.info-sidebar-section-title {
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.info-sidebar-title span {
    flex: 1;
}

#info-sidebar-close {
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#sidebar_content.with-title #info-sidebar-close {
    display: none;
}

.info-sidebar-details, .info-sidebar-details .inspired a {
    color: lightgray;
}

.info-sidebar-details {
    line-height: 18px;
    text-underline-offset: 2px;
}

#info-sidebar-description-edit i {
    margin-left: 5px;
}

#info-sidebar-description-text {
    margin-bottom: 10px;
    max-height: 400px;
    overflow-y: auto;
}

#info-sidebar-description-textarea {
    display: none;
}
#info-sidebar-description-save, #info-sidebar-description-cancel {
    display: none;
    margin-top: 10px;
}
#info-sidebar-description-loading {
    display: none;
    margin-top: 5px;
}
.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#info-sidebar-comments {
    flex: 1;
}
.dragscroll-wrapper {
    overflow: hidden;
    user-select: none;
}
.info-sidebar-featured-list > .dragscroll-wrapper {
    overflow: auto;
}
.dragscroll-content{
    width: max-content;
}
.dragscroll {
    position: relative;
}
.dragscroll-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: red;
    pointer-events: none;
    background: linear-gradient(90deg, #35363a 0%, transparent 100%);
}
.dragscroll-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: red;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 0%, #35363a 100%);
}
#toolbar_container, #menus {
    display: none;
}
#sequencer.edit_mode #titlebar {
    display: none;
}
#sequencer.edit_mode #toolbar_container {
    display: block;
}
#sequencer.edit_mode #menus {
    display: flex;
    justify-content: space-evenly;
}
#sequencer_panel {
    display: flex;
    flex: 1;
}
#sequencer_panel_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.menu_popup {
    position: absolute;
    width: 150px;
    display: none;
    flex-direction: column;
    z-index: 150;
    background-color: #cfcecf;
    color: #676e7a;
    line-height: 23px;
    text-indent: 5px;
    text-shadow: none;
    cursor: pointer;
    font-size: 12px;
}
.btn .menu_popup {
    margin-top: 24px;
}
#btn_save_options, #btn_more, #btn_select_this {
    justify-content: flex-start;
    align-items: flex-start;
}
#btn_save_options {
    width: 12px;
}
#savelink {
    color: #A0C5FA;
}
.menu_item:hover {
    background-color: #d38b0d;
    color: white;
}
.menu_item .shortcut {
    float: right;
    margin-right: 5px;
}
.menu_item.disabled {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
#toolbar_container {
    background-color: #35363a;
    flex: 1;
    z-index: 97;
    width: 0;
}
#toolbar_element {
    height: 24px;
    padding: 5px 5px 5px 0;
    color: black;
    white-space: nowrap;
}
.toolbar_button {
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    background-color: #676e7a;
    color: white !important;
    border-bottom: 1px solid #505665;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.toolbar_button:hover {
     background-color: #7d8594;
}
#sequencer_main {
    position: absolute;
    overflow: scroll;
    overscroll-behavior: none;
    touch-action: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    z-index: 96;
}
::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{
    background-color: #35363a;
}
::-webkit-scrollbar-thumb {
    background: #676e7a;
}
::-webkit-scrollbar-thumb:hover {
    background: #7d8594;
}

.measure {
    box-sizing: border-box;
    display: inline-block;
}
#sequencer_view {
    background-color: #4b4b4b;
    width: 0;
}
#sequencer_view canvas {
    position: absolute;
}
#playhead_wrapper {
    position: absolute;
    left: 0;
    top: -16px;
    bottom: 0;
    right:0;
    overflow: hidden;
    pointer-events: none;
}
#sequencer_timeline_wrapper {
    display: flex;
}
#sequencer_timeline {
    color: #ccc;
    cursor: pointer;
    border-bottom: 1px solid #2b2c2f;
    border-left: 1px solid #2b2c2f;
    box-sizing: border-box;
    overflow: hidden;
    height: 16px;
    flex: 1;
}
#sequencer_timeline_options {
    width: 100px;
    height: 16px;
    display: flex;
    padding-right: 5px;
    box-sizing: border-box;
}
#sequencer_timeline_options .left {
    display: flex;
    flex: 1;
}
.timeline_option, .timeline_option_active, #btn_user_settings{
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
}
.timeline_option_active {
    color: white;
}
#sequencer_timeline_measures {
    height: 16px;
    width: 0;
    display: flex;
    position: relative;
}
#sequencer_timeline_measures .measure {
    box-sizing: border-box;
    border-right: 2px solid #2b2c2f;
    padding-left: 10px;
    padding-top: 1px;
    height: 16px;
    display: inline-block;
}
#playbutton, #loading_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#playbutton, #loading_overlay {
    top: 34px;
}
#playbutton {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3) url('/app/playbutton.png');
    background-position: 50% 40%;
    background-repeat: no-repeat;
    z-index: 98;
    display: none;
}
#playbutton span {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100%;
    text-align: center;
}
#loading_overlay {
    cursor: progress;
    background: rgba(0, 0, 0, 0.6) url('/app/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
}
#mobile_warning {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    color: white;
    font-size: 14px;
    text-align: center;
    display: flex;
    position: absolute;
    height: 33%;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
#mobile_warning div {
    width: 80%;
    line-height: 20px;
}
#mobile_warning .close {
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}
#sequencer_inner {
    width: 500px;
    position: relative;
    overflow: hidden;
}
#wavesurfer_element {
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
.playhead {
    height: 100%;
    width: 25px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}
.playhead_animate {
    background-color: #0A69F2;
    height: 100%;
    width: 1px;
    position: absolute;
    animation-timing-function: linear;
}
.playhead_top {
    margin-left: -16px;
    width: 33px;
    height: 32px;
    border: 16px outset transparent;
    border-top-color: #0A69F2;
    box-sizing: border-box;
}
@keyframes translate {
    0%   { left: 0px; }
    100% { left: 100%;}
}
#play_small {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-size: 14px;
    color: #D38B0D;
    background-repeat: no-repeat;
    background-position:top;
    margin-left: 5px;
}
#share {
    position: absolute;
    right: 25px;
    top: 60px;
    background-color: #ddd;
    padding: 3px;
    z-index: 97;
    line-height: 20px;
}
#share .btn {
    width: 18px;
    height: 18px;
}
#menus .linkbutton {
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
    margin-right: 2px;
    border: none;
}
#audio_track_file {
    width: 90px;
    color: #ddd;
    float: left;
}
#audio_track_link, #audio_track_remove {
    float: left;
}
#bottom {
    width: 100%;
    background-color: #2b2c2f;
    background-repeat: repeat-x;
    color: white;
    display: flex;
}
#info {
    font-size: 12px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    flex: 1;
}
#links {
    padding: 5px;
    flex: 1;
    text-align: right;
}
#links img {
    vertical-align: middle;
}
#menus {
    height: 24px;
    line-height: 24px;
    background-color: #242526;
    color: white;
    margin-left: 100px;
}
#menus select {
    width: 110px;
    font-size: 12px;
}
#menus .item {
    text-align: center;
}
#volume {
    color: #adb0bd;
    display: flex;
    align-items: center;
}
#volume i {
    margin-right: 5px;
}
#volume_slider {
    width: 100px;
}
#loading_container {
    position: absolute;
    left: 140px;
    top: 40px;
    width: 120px;
    height: 35px;
    color: white;
    text-indent: 10px;
    padding-top: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#loading_bar {
    height: 8px;
    width: 100px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
#loading {
    background-color: orange;
    width: 0%;
    height: 100%;
}

/* New progress bar */
#progress_bar_area {
    display: flex;
    flex-direction: column;
}
progress-bar {
    height: fit-content;
    padding: 10px 12px;
    color: white;
    background-color: #35363a;
}
.progress-bar-container {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
}
.progress-bar-empty {
    background-color: #676e7a;
}
.progress-bar-fill {
    float: left;
}
.progress-bar-title {
    padding: 3px 0;
}

#toolbar_element a, #captcha_box a, #share a {
    color: #2F3BC2;
}
.btn, div.active{
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    vertical-align: top;
}
.btn, .timeline_option, #btn_user_settings {
    color: #adb0bd;
}
.btn:hover, .active {
    color: white;
}
.spacer {
    width: 8px;
    border-right: 1px solid #adb0bd;
    margin-right: 7px;
    height: 18px;
    margin-top: 3px;
    display: inline-block;
    vertical-align: top;
}
#btn_select_this {
    margin-right: 0;
    vertical-align: top;
}
#btn_select_this i {
    border: 2px dotted #adb0bd;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
}
#btn_selectall i {
    border: 2px dotted #adb0bd;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}
#btn_select_this:hover i, #btn_selectall:hover i {
    border-color: White;
}
#instrument_select {
    margin-top: 6px;
}
#instrument_select_box {
    border-bottom: 1px solid #adb0bd;
    box-sizing: border-box;
}
#instrument_select_box span {
    border: 0;
}
#sequencer .ui-selectmenu-button {
    width: 130px;
    height: 16px;
    background: none;
    border: none;
    color: white;
    text-shadow: none;
    font-size: 12px !important;
    font-family: inherit !important;
    padding: 0 !important;
}
#sequencer .ui-selectmenu-text{
    padding: 0 20px 0 4px !important;
}
#menus .ui-selectmenu-button {
    border-bottom: 1px solid #adb0bd;
}
#menus #grid_select_input .ui-selectmenu-button {
    width: 60px !important;
}
#menus #time_sig_select_input .ui-selectmenu-button {
    width: 60px !important;
}
#menus #scroll_select_input .ui-selectmenu-button {
    width: 80px !important;
}
.ui-menu .instrument-menu-item {
    padding: 0;
}
.instrument-menu-item-wrapper {
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.instrument-menu-item-text {
    flex: 1;
    padding: 4px;
}
.instrument-menu-chip {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.instrument-menu-new-synth {
    border: 1px dashed #888;
    color: #888;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    text-align: center;
}
#btn_instrument_options {
    margin-right: 0;
    vertical-align: top;
}
#btn_more i {
    width: 22px;
    height: 20px;
    padding-top: 2px;
    padding-left: 8px;
}
#btn_close {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #676e7a;
    cursor: pointer;
}
#selection_rect{
    z-index: 100;
    border: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

#title_box_input {
    width: 88px;
}

.box_label {
    color: #adb0bd;
    display: inline-flex;
    align-items: flex-end;
    vertical-align: top;
    margin-top: 0;
    height: 20px;
    padding-left: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    cursor: default;
}
.box_label span {
    border-bottom: 1px solid #adb0bd;
    line-height: 16px;
}
.box_input {
    font-size: 18px;
    display: inline-flex;
    height: 22px !important;
    align-items: flex-end;
}
.box_input input, .box_input select {
    border: 0;
    background-color: #35363a;
    color: white;
    margin: 0;
    height: 16px;
    padding-bottom: 1px;
    padding-left: 6px;
    text-indent: 0;
    outline: none;
}
#bpm {
    width: 22px;
}
.box_input input {
    border-bottom: 1px solid #adb0bd;
}
#title {
    width: 80px;
}
#title:hover, #title:focus {
    z-index: 1000;
    position: absolute;
    width: 32ch;
}
#message_wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0;
    z-index: 100;
    text-align: center;
    display: none;
    color: white;
    pointer-events: none;
}
#message_text {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: default;
}
#marker_bar {
    height: 22px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.timeline_marker {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    color: #d38b0d;
    pointer-events: none;
    width: 0;
}
.timeline_marker_inner {
  height: 100%;
}
.timeline_marker_inner:after  {
    content: "\00a0";
}
.timeline_marker_inner.marker:after {
    content: "<";
}
.timeline_marker_inner.selected {
    color: #ffef10;
}
.timeline_marker_inner.editor {
    background-color: #2c5aa1;
}
#sequencer_timeline_markers .timeline_marker {
    height: 15px;
    top: -16px;
}
#marker_bar .timeline_marker {
    height: 100%;
    font-size: 16px;
}
#marker_selection_rect{
    z-index: 100;
    background-color: #FFF6;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 0;
    height: 22px;
}
.popup {
    position: absolute;
    text-shadow: none;
    z-index: 98;
    background-color: #35363a;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    color: white;
}
.popup-header {
    background-color: #2b2c2f;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 36px;
}
.popup-header span {
    flex: 1;
}
#marker_editor {
    left: 200px;
    top: 100px;
}
#marker_editor_marker_list {
    height: 264px;
    overflow-y: auto;
}
#marker_editor_add {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
#marker_editor_add .box_input {
    align-items: center;
}
.marker_editor_name {
    font-size: 16px;
    padding: 8px;
}
.marker_editor_marker input {
    flex-grow: 1;
}
.marker_editor_marker .button.marker_editor_blend {
    background-image:url(/resources/lerp.png);
    width: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}
.marker_editor_marker .button.marker_editor_blend.selected {
    background-color: #D38B0D;
}
.marker_editor_marker {
    padding-right: 8px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 36px;
    border-bottom: 1px solid #2b2c2f;
}
#marker_instrument:disabled {
    opacity: 0.4;
}
input.marker_editor_selected {
    flex-grow: 0;
    margin-top: 12px;
    margin-left: 8px;
}
.marker_editor_chip {
    margin: 8px 0 0 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.marker_editor_marker .slider_line {
    margin-top: 12px;
    width: auto;
    flex-grow: 1;
}
.marker_editor_marker .button {
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    margin-left: 4px;
    margin-top: 7px;
    user-select: none;
}
.marker_editor_marker .box_input {
    margin-top: 4px;
    margin-right: 75px;
}
.marker_editor_marker .box_input select {
    height: 20px;
}
.marker_editor_marker .button.marker_editor_value::after {
    content: "Disabled";
}
.marker_editor_marker .button.enabled {
    background-color: #D38B0D;
}
.marker_editor_marker .button.marker_editor_value.enabled::after {
    content: "Enabled";
}
.marker_editor_marker .padding {
    flex-grow: 1;
}
#instrument_options {
    position: absolute;
    left: 484px;
    top: 49px;
    color: black;
    text-shadow: none;
    z-index: 98;
    width: 0;
    height: 0;
}
#instrument_options_tabs {
    height: 25px;
    display: flex;
}
#instrument_options_tabs div {
    height: 100%;
    background-color: #5d5f66;
    box-sizing: border-box;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}
#instrument_options_tabs div.selected {
    background-color: #2b2c2f;
    cursor: default;
}
#instrument_options_simple {
    background-color: #2b2c2f;
    padding: 8px;
    padding-right: 0;
    width: calc(160px * 4 + 8px); /* 160px per column */
    height: auto;  /* 42px per row */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    color: white;
    padding-bottom: 3px;
}
#instrument_options_advanced {
    background-color: #35363a;
    width: 360px;
    height: 340px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    color: white;
}
.instrument_options_advanced_row, .instrument_options_synth_row {
    border-bottom: 1px solid #2b2c2f;
    display: flex;
    padding: 8px;
}
.instrument_options_advanced_row:first-child,
.instrument_options_synth_row:first-child{
    background-color: #2b2c2f;
}
.slider_margin {
    margin-bottom: 8px;
}
#instrument_options_advanced_chip, #instrument_options_synth_chip {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#instrument_options_advanced_chip input {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: transparent;
}
#instrument_options_advanced_chip .clr-field button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
#instrument_options_synth_wave,
#instrument_options_synth_lfo_graph,
#instrument_options_synth_adsr_graph {
    border: 1px solid #444;
}
#instrument_options_synth_adsr_graph {
    margin-left: 10px;
}
.instrument_options_synth_lfo {
    width: 80%;
    margin-left: 10px;
}
#instrument_options_synth_type-button,
#instrument_options_lfo_target-button,
#instrument_options_synth_filter_type-button {
    width: 100px !important;
    height: 20px !important;
    margin-left: 6px;
    display: inline-block;
    border-radius: 0;
}
#instrument_options_synth_filter, #instrument_options_synth_filter_q {
    width: 100%;
    display: flex;    
}
#instrument_options_advanced_title, #instrument_options_synth_title,
.instrument_options_synth_label .instrument_options_synth_label_filter {
    cursor: text;
    font-size: 16px;
    padding-left: 8px;
}
#instrument_options_synth_filter_type-button {
    margin-right: 8px;
    margin-left: 0;
}
.instrument_options_synth_label .instrument_options_synth_label_filter {
    width: 72px !important;
}
.instrument_options_synth_label_q {
    width: 96px !important;
}
#instrument_options_synth_color:hover {
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
#instrument_options_synth_lfo_hz {
    width: 54px;
    background-color: #444;
    border: 1px solid #555;
    color: #eee;
    border-radius: 4px;
}
.synth_lfo_hz {
    position: relative;
    float: left;
    display: none;
}
.synth_lfo_hz:after {
    position: absolute;
    right: 0;
    top: 0;
    color: #888;
    content: 'Hz';
    padding-right: 4px;
}
#instrument_options_advanced_title_edit {
    font-size: 12px;
    padding: 1.5px;
    margin-left: 8px;
}
#instrument_options_advanced_title.hidden,
#instrument_options_advanced_title_edit.hidden {
  display: none;
}
#instrument_options_advanced_lock {
  padding-left: 4px;
}
.instrument_options_advanced_spacer, .instrument_options_synth_spacer {
  flex-grow: 1;
}
.instrument_options_advanced_label, .instrument_options_synth_label {
  width: 52px;
  padding-right: 4px;
  text-align: center;
}
.instrument_options_advanced_row .button,
.instrument_options_synth_row .button,
#instrument_options_advanced_eq .button,
#sequencer .instrument_options_synth_row .ui-selectmenu-button {
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    margin-left: 4px;
    user-select: none;
}
.instrument_options_advanced_row .button i,
#instrument_options_advanced_eq .button i {
    margin-left: 3px;
    font-size: 10px;
}

#instrument_options_advanced_eq .button, #instrument_options_synth_adsr_e {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  height: auto;
  width: 20px;
  padding: 6px 0;
  text-align: center;
}
#instrument_options_advanced_eq .instrument_options_advanced_label {
  width: 30px;
  text-align: right;
}
.instrument_options_advanced_eq_row {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}
.instrument_options_advanced_row .button.enabled,
.instrument_options_synth_row .button.enabled,
#instrument_options_synth_lfo_select-button.enabled .ui-icon,
#instrument_options_advanced_eq.enabled .button,
#instrument_options_advanced_reverb_select-button.enabled .ui-icon,
#instrument_options_synth_type-button.enabled .ui-icon,
#instrument_options_lfo_target-button.enabled .ui-icon,
#instrument_options_synth_filter_type-button.enabled .ui-icon,
#instrument_options_advanced_distort_select-button.enabled .ui-icon {
    background-color: #D38B0D;
}
.instrument_options_advanced_row .slider_line {
  margin-top: 3px;
}
#instrument_options_advanced_eq {
  display: flex;
  padding: 0 8px;
}
#instrument_options_advanced_eq_sliders {
  flex-grow: 1;
}
#instrument_options_advanced_reverb_volume_wrap,
#instrument_options_advanced_distort_volume_wrap,
#instrument_options_advanced_eq_sliders {
  pointer-events: none;
  opacity: 50%;
}
.instrument_options_advanced_row #instrument_options_advanced_reverb_select-button,
.instrument_options_advanced_row #instrument_options_advanced_distort_select-button,
.instrument_options_synth_row #instrument_options_synth_lfo_select-button {
  width: 16px !important;
  height: auto !important;
  flex-shrink: 0;
  margin-right: 8px;
  margin-left: 0;
  border-radius: 0;
}
#instrument_options_advanced_reverb_select-button .ui-selectmenu-text,
#instrument_options_advanced_distort_select-button .ui-selectmenu-text,
#instrument_options_synth_lfo_select-button .ui-selectmenu-text {
  display: none;
}
#instrument_options_advanced_reverb_select-button .ui-icon,
#instrument_options_advanced_distort_select-button .ui-icon {
  background-color: rgba(211, 211, 211, 0.2);
}

#instrument_options_advanced_reverb_select-button .ui-icon,
#instrument_options_advanced_distort_select-button .ui-icon,
#instrument_options_synth_lfo_select-button .ui-icon,
#instrument_options_synth_type-button .ui-icon,
#instrument_options_lfo_target-button .ui-icon,
#instrument_options_synth_filter_type-button .ui-icon {
  background-image: url(/resources/ui/ui-icons_222222_256x240.png);
  width: 15px;
  height: 19.5px;
  background-position-x: -65px;
  background-position-y: -14px;
  right: 0;
}
#instrument_options_advanced_reverb,
#instrument_options_advanced_distort,
#instrument_options_synth_lfo_e {
  width: 32px;
  flex-shrink: 0;
  margin-left: 0;
}
/* TODO: make this better */
.instrument_options_synth_row #instrument_options_synth_lfo_select-button {
    display: inline-block;
    left: -3px;
    top: -1px;
    border-radius: 0;
    margin-left: 1px !important;
}
#instrument_options_synth_lfo_e {
    display: inline-block;
}
#instrument_options_synth_lfo_select-button  .ui-icon {
}
#instrument_options_synth_lfo_intensity {
    display: inline;
    width: 100%;
}
.instrument_options_synth_lfo > .slider_line {
    display: inline-block;
    width: 72%;
}
.instrument_options_synth_label_lfo {
    padding: 0;
    text-align: left;
    margin: 0 0 10px;
    font-size: 12px;
    width: 157px !important;
    display: inline-block;
}
.instrument_options_synth_lfo_osc {
    width: 64px;
    position: absolute;
    padding: 0;
    margin: 0;
    display: flex;
}
.lfo_osc_option {
    width: 16px;
    font-size: 10px;
    padding: 0;
    display: inline-flex;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: #444;
    color: #ccc;
    cursor: pointer;
}
.lfo_osc_selected {
    background-color: #555;
    color: #11ccff;
}
.adsr_disabled {
    pointer-events: none;
    opacity: 50%;
}
/* TODO: clean this up and fix translations */
.slider_line_v {
    width: 6px;
    height: 80%;
    border-right: 1px solid #adb0bd;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.slider_line_v > p {
    transform: translate(3px, 50px);
}
.slider_v {
    flex: 1;
    -webkit-appearance: none;
    width: 60px !important;
    height: 10px;
    margin: 0 0;
    transform: rotate(-90deg) translate(14px, -24px);
    background: transparent;
    position: relative;
    left: 0;
    top: 0;
}
#instrument_options_advanced_reverb_volume_wrap.enabled,
#instrument_options_advanced_distort_volume_wrap.enabled,
.enabled #instrument_options_advanced_eq_sliders {
  pointer-events: initial;
  opacity: initial;
}
#instrument_options_delete.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.slider_line.with_warning {
    border-image: linear-gradient(to right, #adb0bd 70%, red 70%) 1;
}
.slider_center {
    border-right: 1px solid #adb0bd;
    height: 5px;
    position: absolute;
    pointer-events: none;
    top: 4px;
    width: 50%;
}
.options_simple_label {
    width: calc(100% - 8px);
    position: relative;
    margin-top: 0;
    left: 0;
    top: 10px;
    color: #adb0bd;
    border-bottom: 1px solid #adb0bd;
}
.instrument_option {
    height: 32px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px;
    color: white;
    width: 148px;
    display: inline-block;
    background-color: #35363a;
}
.custom_synth_create_simple {
    border: 1px dashed #888;
    color: #ddd;
    text-align: center;
    line-height: 32px;
    position: relative;
    top: -1px;
}
#instrument_options_simple:has(.synth_option) > .custom_synth_create_simple {
    top: -12px;  /* TODO: this is a terrible workaround for improper flexbox alignment */
}
.custom_synth_create_simple:hover {
    border: 1px dashed #bbb;
    color: #fff;
    cursor: pointer;
}
.instrument_option span {
    cursor: pointer;
}
.instrument_lock {
    width: 18px;
    height: 18px;
    font-size: 12px;
}
.instrument_name_locked {
    color: #aaa;
}

.instrument_option .chip {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    cursor: default;
    border-radius: 50%;
}

.instrument_option .row {
    display: flex;
    height: 12px;
}

.slider_line {
    width: 100%;
    height: 6px;
    border-bottom: 1px solid #adb0bd;
    position: relative;
}

.instrument_option .row .button {
    background-color: #adb0bd;
    border-radius: 2px;
    margin-left: 2px;
    color: black;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#instrument_options_synth {
    background-color: #35363a;
    width: 360px;
    height: 360px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    color: white;
}

.instrument_option .row .button.enabled {
    background-color: #D38B0D;
}

input[type=range].slider {
  flex: 1;
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
  height: 12px !important;
  background: transparent;
}
input[type=range].slider:focus,
input[type=range].slider_v:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track,
input[type=range].slider_v::-webkit-slider-runnable-track{
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb,
input[type=range].slider_v::-webkit-slider-thumb {
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #adb0bd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].slider::-moz-range-track,
input[type=range].slider_v::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb,
input[type=range].slider_v::-moz-range-thumb {
  border: 0px solid rgba(0, 30, 0, 0.57);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #adb0bd;
  cursor: pointer;
  margin-top: 0px;
}

#user_settings {
    left: 110px;
    top: 60px;
}

.user_settings_row, .user_settings_row input, .user_settings_row label {
    cursor: pointer;    
}

.user_settings_row {
    display: flex;
    padding: 8px;
    cursor: pointer;
    align-items: center;
}

.user_settings_row label {
    flex: 1;
    line-height: 24px;
    padding-left: 8px;
}

#midi_import_content {
    background-color: #35363a;
    padding: 5px;
    overflow-y: auto;
}

#midi_import_table {
    margin-top: 20px;
}

#midi_import_table td {
    padding: 0;
}

#midi_import_subheading {
    color: white;
    padding: 1px;
}

#midi_import_import {
    color: white;
    border: none;
    background-color: #0D47A1;
    border-radius: 2px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

#wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
